.layout-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2d3e50;
    color: white;
}

.content {
    flex: 1;
    background-color: #27bfa6;
    padding: 20px;
}
