.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px; /* LOGIN(RODEMFOOD) 텍스트와의 간격 */
}

div {
    margin-bottom: 20px; /* 각 텍스트박스와의 간격 */
}

button {
    margin-top: 20px; /* 로그인 버튼과의 간격 */
}
