.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27bfa6;
}

.login-container form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.login-container form label {
    margin-bottom: 10px;
}

.login-container form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container form button {
    padding: 10px;
    background-color: #27bfa6;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
