.management-container {
    display: flex;
}

.management-container .content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

.management-container .content h2 {
    color: #333;
    margin-bottom: 20px;
}

.management-container .content ul {
    list-style-type: none;
    padding: 0;
}

.management-container .content ul li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.management-container .content ul li:hover {
    background-color: #e9e9e9;
}
