.management-container {
    text-align: center;
    padding: 20px;
}

.management-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.management-container ul {
    list-style: none;
    padding: 0;
}

.management-container li {
    background-color: #2d3e50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    .management-container h1 {
        font-size: 20px;
    }

    .management-container li {
        font-size: 14px;
        padding: 8px;
    }
}
