.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #555;
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}
