body {
    background-color: #27bfa6; /* 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text {
    margin-bottom: 20px; /* 박스들과의 간격 */
}

.welcome {
    color: white; /* Welcome, 텍스트 색상 */
    font-size: 160%; /* 현재 크기의 140%로 설정 */
    font-weight: bold; /* 글씨 굵기를 굵게 설정 */
}

.user-info {
    color: black; /* name(team)님! 텍스트 색상 */
    font-size: 160%; /* 현재 크기의 140%로 설정 */
    font-weight: bold; /* 글씨 굵기를 굵게 설정 */
}

.welcome-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 15px; /* 박스들 간의 간격 */
}

.box {
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.box:hover {
    background-color: #2d3e50;
}
