.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #27bfa6; /* 배경색 변경 */
    padding: 20px;
}

.welcome-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000; /* 텍스트 색상을 검은색으로 변경 */
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 두 개의 컬럼으로 배치 */
    gap: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.label {
    font-size: 16px;
    color: #333;
}

@media (max-width: 600px) {
    .menu-container {
        grid-template-columns: 1fr; /* 모바일 화면에서는 한 줄로 배치 */
    }

    .menu-item {
        width: 80px;
        height: 80px;
    }

    .label {
        font-size: 14px;
    }
}
